{
  manifest_version: 1
  version: 1
  name: "Queriac"
  url: "https://www.queriac.com"
  github_repo_url: "https://github.com/zeke/queriac"
  description: "Turn your browser's address bar into a javascript command line."
  keywords: [
    "browser"
    "chrome"
    "javascript"
    "search"
    "shell"
    "terminal"
    "productivity"
    "keyboard"
    "shortcut"
  ]
  maintainers: [
    name: "Zeke Sikelianos"
    email: "zeke@heroku.com"
    twitter: "zeke"
    github: "zeke"
    web: "http://zeke.sikelianos.com"
   ]
  bugs:
    mail: "zeke@queriac.com"
    web: "https://github.com/zeke/queriac/issues"
  licenses: [
    type: "MIT"
    url: "http://en.wikipedia.org/wiki/MIT_License"
   ]
  icons:
    16: "public/profile/icon-16.png"
    32: "public/profile/icon-32.png"
    64: "public/profile/icon-48.png"
    128: "public/profile/icon-128.png"
    256: "public/profile/icon-256.png"
  logos:
    regular: "public/profile/logo.svg"
    monogram: "public/profile/logo_monogram.svg"
}
