%h2 Help

%h3 This help page sucks. How can I get a hold of you?

%p 
  <a href="https://twitter.com/intent/tweet?screen_name=zeke&text=A%20query%20about%20Queriac...%20" class="twitter-mention-button" data-size="large" data-related="zeke">Tweet to @zeke</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

%h3 Can I use named arguments?

Yes.