
%h2 Commands

%ul.commands
  = render partial: "commands/listed_command", collection: @commands

= link_to("New Command", new_user_command_path(current_user)) if logged_in?

%h2 Users

%ul
  - @users.each do |user|
    %li= link_to user_path(user)