@import "compass/reset"
@import "compass/css3"
@import "compass/typography"
@import "compass/utilities"
@import "zazz"

$background_color: #FFF
$foreground_color: #000
$main_color: #BF087E
$content_width: 768px
$error_color: #CC0000